<h1>Purchase succesfuly</h1>

<h2>Thank you for your purchase, {{firstName}} {{lastName}}!</h2>
<h2>Your purchased items:</h2>
<ul>
  {{#each cart.products}}
    <li>{{this.name}} - ${{this.price}}</li>
  {{/each}}
</ul>
<p>Total amount: ${{cart.totalAmount}}</p>